.jumbotron h1{
  font-size: 63px;
   margin-top: 20px;
margin-bottom: 10px;
font-weight: 500;
    line-height: 1.1;
}
.jumbotron{
background-color: rgb(238, 238, 238);
margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
  /* margin-top: 20px;
margin-bottom: 10px; */
img{
border-color: rgb(51, 51, 51);
border: 3px solid black;

max-width: 100%;
padding: 10px;
box-sizing: border-box;
padding-left: 0px;
padding-right: 0px;
margin-left: 0%;
margin-right: 0%;
/* box-sizing: border-box; */







}
